/* Popup container */
#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dimming background */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above all other elements */
}

/* Popup content */
#popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
    position: relative;
}

.board {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    gap: 1px;
    margin-bottom: 10px;
    place-items: center;
    width: 650px;
    height: 650px;
}

.board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    font-size: 1.2em;
    position: relative;
    width: 100%;
    height: 100%;
}

.tiles {
    display: flex;
    gap: 10px;
}

.tile {
    position: relative;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    background-color: #f7dab0;
    border: 1px solid #e2c59b;
    color: #352F27;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}

.newly-placed {
    opacity: 85%
}

.tile-points {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 0.6rem;
    color: #634e33;
    pointer-events: none;
}

.rack .tile {
    width: 43px; /* Fixed width for tiles in the rack */
    height: 43px; /* Fixed height for tiles in the rack */
    opacity: 100;
}


.rack-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rack-button {
    width: 43px; /* Same width as tiles */
    height: 43px; /* Same height as tiles */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5e6fcc;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.rack-button i {
    font-size: 1.5rem;
}

.rack {
    display: flex;
    gap: 10px;
    padding: 10px;
    width: 400px;
    justify-content: center;
    align-items: center;
}

.tile.dragging {
    opacity: 0;
}

.triple-word {
    background-color: #cf4c45;
}

.double-word {
    background-color: #ffb3b3;
}

.triple-letter {
    background-color: #5e6fcc;
}

.double-letter {
    background-color: #c3d9ff;
}

.star {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.star i {
    position: absolute;
    font-size: 1.25em;
    color: #cf4c45;
    pointer-events: none;
}

/* .star.tile-placed i {
    display: none;
} */

.sidebar {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 300px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.sidebar .tile-bag {
    margin-top: 10px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add space between buttons */
    margin-top: 10px;
    margin-bottom: 40px;
}

.action-button {
    width: 90px; /* Ensure buttons are square */
    height: 40px; /* Ensure buttons are square */
    /* background-color: #007bff; */
    color: #5e6fcc;
    border: 2px solid #5e6fcc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem; /* Adjust font size as needed */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pass-button {
    width: 70px;
}

#play-button {
    width: 70px;
    background-color: #5e6fcc;
    color: white;
}