{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">

<div class="board-container">
    <div class="board" id="board"></div>
    <div class="tiles" id="tiles"></div>
    <div class="sidebar">
        <h2>Game Info</h2>
        <div id="turn-info">Turn: 1</div>
        <div id="player-moves">Player Moves: 0</div>
        <div id="opponent-moves">Opponent Moves: 0</div>
        <div class="tile-bag">
            <h3>Tiles in Bag: <span id="tiles-left">{{ tile_bag_length }}</span></h3>
            <div id="bag-contents"></div>
        </div>
        <div class="scores">
            <h3>Scores</h3>
            <div id="player-score">Player: 0</div>
            <div id="opponent-score">Opponent: 0</div>
        </div>
    </div>      
</div>
<div class="rack-container">
    <button class="rack-button" id="reset-rack"><i class="fas fa-undo"></i></button>
    <div class="rack" id="player-rack"></div>
    <button class="rack-button" id="shuffle-rack"><i class="fa-solid fa-shuffle"></i></button>
</div>
<div class="action-buttons">
    <button class="action-button" id="options-button">Options</button>
    <button class="action-button" id="pass-button">Pass</button>
    <button class="action-button" id="exchange-button">Exchange</button>
    <button class="action-button" id="play-button">Play</button>
</div>

<div id="popup-container">
    <div id="popup-content">
        <h2>Select your tile</h2>
        <div id="letter-grid"></div>
        <div id="input-container">
            <input type="text" id="blank-tile-letter" maxlength="1" autocomplete="off"/>
            <button id="blank-tile-submit">Submit</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts/board.js') }}"></script>
{% endblock %}
